.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemon {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.pokemon:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0.25rem;
  margin-top: -20px;
  text-align: left;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail-back {
  display: none;
  /* flex-direction: row; */
  align-items: center;
  padding-right: 35px;
  /* justify-content: space-between; */
  position: absolute;
  box-sizing: border-box;
  /* top: 0%;
  left: 0%; */
}

.detail,
.detail-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card:hover .detail {
  transform: rotateY(180deg);
}

.pokemon:hover .detail-back {
  display: grid;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail-back .abilities {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail-back .stats {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail-back img {
  max-width: 50%;
  height: 50px;
}

.pokemon .detail-back .abilities .ability {
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
}

.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.stat-container {
  position: relative;
  display: grid;
  grid-template-columns: 0.75fr 5fr;
  grid-template-rows: repeat(6) 0.75fr;
  box-sizing: border-box;
  height: 78%;
  align-items: start;
  overflow: hidden;
}

.stat-container .stat-name {
  font-weight: 800;
  font-size: 8px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: end;
  margin-top: 0.25rem;
}

.progress {
  overflow: hidden;
  box-sizing: border-box;
  height: 75%;
  margin: 0.1rem;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  color: #ffff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
